.git
.gitignore
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.env
.env.*
*.db
reports/
.supervisord.log
supervisord.log
.supervisord.pid
supervisord.pid
logs/
data/
dist/
build/
.DS_Store
**/.venv/
.venv/
